/**
 * Copyright 2017-present, Chris Stowe.
 * All rights reserved.
 * 
 * Description: The style for the Logo component.
 */

.Logo {
  width: 44px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
