/**
 * Copyright 2017-present, Chris Stowe.
 * All rights reserved.
 * 
 * Description: The style for the Issues component.
 */
 
.IssueTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF;
  color: #000;
  font-size: 12px;
 }

.IssueHeader {
  background-color: #067a13;
  color: #FFF;
}

.IssueRow {
  height: 20px;
}

/* Causes an alternating row background color. */
.IssueRow:nth-child(even){
  background-color: #f2f2f2
}

.IssueLabel {
  border: 1px solid #000;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
