/**
 * Copyright 2017-present, Chris Stowe.
 * All rights reserved.
 * 
 * Description: The style for the Issues component.
 */
 
 .IssuesPage {
   min-width: 700px;
 }

.IssueTable {
  border-collapse: collapse;
  background-color: #FFF;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12;
  width:100%;
 }

.IssueHeader {
  background-color: #067a13;
  color: #FFF;
  min-width: 50px;
}

.IssueRow {
  height: 25px;
}

/* Causes an alternating row background color. */
.IssueRow:nth-child(even) {
  background-color: #c2d1ed
}

.IssueLabel {
  border: 1px solid #000;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
