/**
 * Copyright 2017-present, Chris Stowe.
 * All rights reserved.
 * 
 * Description: The style for the NavBar component.
 */

.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  background-color: #000;
  color: #FFF;
  text-align: center;
  text-shadow: 0 0 5px #FFF;
  border-style: outset;
  border-width: 2px;
  box-shadow: 10px 0 10px #FFF;

  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Highlights a NavBar element on hover */
li a:hover:not(.active) {
  color: #0afc26;
}

/* Colors the active NavBar element. */
.active {
  background-color: #067a13;
}

.BuildStatus {
  float: right;
}
