/**
 * Copyright 2017-present, Chris Stowe.
 * All rights reserved.
 * 
 * Description: The style for the NavBar component.
 */

.NavBar {
  /* Forces the NavBar to always be at the top of the screen. */
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  border: 1px solid #FFF;
  background-color: #000;
  color: #FFF;
}

.NavBarList {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.NavBarListItem {
  float: left;
}

/* Colors the active NavBar item. */
.NavBarActive {
  background-color: #067a13;
}

.NavBarLink {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: #FFF;
}

/* Highlights a NavBarLink on hover. */
.NavBarLink:hover {
  color: #0afc26;
}
